<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Document</title>
  </head>
  <body class="bg-img">
    <%- include('navbar'); -%>
    <br />
    <div class="test">
      <h1>Welcome to the family</h1>
      <p>
        From this site, you can communicate with Don Vito from Monday to Friday,
        Otherwise this site will be closed
      </p>
      <form>
        <input type="text" name="askingFavor" />
        <button>Asking for a favor</button>
      </form>
      <p>Current date is <%= currentDate %></p>
    </div>
  </body>
</html>
